body 
{
	background-color: #741525;
	color: black;
	font-size: 18px;
	font-family: tribuchet;
}

.col-sm-2 .col-lg-2 .col-md-2
{
	background-color: black;
}

.col-lg-8
{
	text-align: center;
	color: #ca982c;
	font-family: frizquabol;
	font-size: 52px;
}

.col-sm-10
{
	background-color: white;
	color: #741525;
	border: solid;
	border-color: black;
	border-radius: 10px;
}
.col-md-10
{
	background-color: black;
	color: #741525;
	border: solid;
	border-color: black;
	border-radius: 10px;
}
.col-lg-10
{
	background-color: white;
	color: #741525;
	border: solid;
	border-color: black;
	border-radius: 10px;
}

.well
{
	background-color: black;
	color: #741525;
	border-color: black;
	font-family: tribuchet;
	font-size: 36px;
	width: 100%;
	margin-top: -8px;
	margin-right: 0px;
	margin-left: 0px;
}

hr
{
	margin: 10px;
}


footer
{
	background-color: black;
	color:white;
	text-align: center;
}

.nav-pills
{
	background-color:#CA982C;
	border-radius: 8px;
}


.nav-stacked > li > a
{
	color: #741525;
	background-color:#CA982C;
}

h1
{
	text-align: center;
	
}

u
{
	color: #CA982C;
}
a:focus{
	color: white;
	background-color: white;
}